{{- if .Values.defaultComponents.enabled }}
{{- range .Values.defaultComponents.components }}
---
apiVersion: castware.cast.ai/v1alpha1
kind: Component
metadata:
  name: {{ .name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    helm.sh/hook: post-install
    helm.sh/hook-delete-policy: hook-failed
    helm.sh/hook-weight: "10"
  labels:
    {{- include "castware-operator.labels" $ | nindent 4 }}
spec:
  component: {{ .component | quote }}
  cluster: {{ .cluster | quote }}
  enabled: {{ .enabled }}
  {{- if .version }}
  version: {{ .version | quote }}
  {{- end }}
  {{- if .values }}
  values:
    {{- toYaml .values | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
