{{- if .Values.defaultComponents.enabled }}
{{- range $name, $comp := .Values.defaultComponents.components }}
---
apiVersion: castware.cast.ai/v1alpha1
kind: Component
metadata:
  name: {{ $name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    helm.sh/hook: post-install, post-upgrade
    helm.sh/hook-delete-policy: before-hook-creation
    helm.sh/hook-weight: "10"
  labels:
    {{- include "castware-operator.labels" $ | nindent 4 }}
spec:
  component: {{ $comp.component | quote }}
  cluster: {{ $comp.cluster | quote }}
  enabled: {{ $comp.enabled }}
  {{- if $comp.version }}
  version: {{ $comp.version | quote }}
  {{- end }}
  {{- if $comp.overrides }}
  values:
    {{- toYaml $comp.overrides | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
