{{- if .Values.preflightInstallCheck.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "castware-operator.fullname" . }}-preflight-install-check
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "castware-operator.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "1"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  backoffLimit: 0
  activeDeadlineSeconds: 300
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      name: {{ include "castware-operator.fullname" . }}-preflight-install-check
      labels:
        {{- include "castware-operator.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - preflight-install-check
          command:
            - /manager
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: {{ include "castware-operator.fullname" . }}
            - name: LOG_LEVEL
              value: "info"
            - name: API_URL
              value: {{ .Values.defaultCluster.api.apiUrl }}
            - name: HELM_REPO_URL
              value: {{ .Values.defaultCluster.helmRepoURL }}
            - name: API_KEY
              value: {{ .Values.apiKeySecret.apiKey }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          volumeMounts:
            - mountPath: /.cache/helm
              name: helm-cache
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: helm-cache
          emptyDir:
            sizeLimit: 500Mi
{{- end }}
