{{- if .Values.defaultCluster.enabled }}
apiVersion: castware.cast.ai/v1alpha1
kind: Cluster
metadata:
  name: {{ .Values.defaultCluster.name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: hook-succeeded,before-hook-creation
  labels:
    {{- include "castware-operator.labels" . | nindent 4 }}
spec:
  api:
    apiUrl: {{ .Values.defaultCluster.api.apiUrl | quote }}
    {{- if .Values.defaultCluster.api.apiGrpcUrl }}
    apiGrpcUrl: {{ .Values.defaultCluster.api.apiGrpcUrl | quote }}
    {{- end }}
    {{- if .Values.defaultCluster.api.grpcUrl }}
    grpcUrl: {{ .Values.defaultCluster.api.grpcUrl | quote }}
    {{- end }}
    {{- if .Values.defaultCluster.api.kvisorGrpcUrl }}
    kvisorGrpcUrl: {{ .Values.defaultCluster.api.kvisorGrpcUrl | quote }}
    {{- end }}
  apiKeySecret: {{ .Values.defaultCluster.apiKeySecret | default (.Values.apiKeySecret.name | default "castware-api-key") | quote }}
  {{- if .Values.defaultCluster.provider }}
  provider: {{ .Values.defaultCluster.provider | quote }}
  {{- end }}
  {{- if .Values.defaultCluster.cluster }}
  cluster:
    {{- toYaml .Values.defaultCluster.cluster | nindent 4 }}
  {{- end }}
{{- end }}
