apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kube-system-access
  namespace: kube-system
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resourceNames:
      - castai-agent
    resources:
      - roles
      - rolebindings
    verbs:
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kube-system-access
  namespace: kube-system
roleRef:
  kind: Role
  name: castware-operator-kube-system-access
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: castware-operator-controller-manager
    namespace: castai-agent
