apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: namespace-admin
  namespace: castai-agent
rules:
  # ---
  # castai-agent - Required for lease election
  # ---
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - leases
    verbs:
      - create
      - get
      - list
      - watch
      - update
  # ---
  # castai-agent - Required for cost savings estimation features.
  # ---
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  # ---
  # castai-agent - Required for managing resource quotas in namespace
  # ---
  - apiGroups:
      - ""
    resources:
      - resourcequotas
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  # ---
  # castai-agent - Required for managing pod disruption budgets
  # ---
  - apiGroups:
      - "policy"
    resources:
      - poddisruptionbudgets
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  # ---
  # castai-agent - Required for managing RBAC resources during install/uninstall
  # ---
  - apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - roles
      - rolebindings
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  # ---
  # castai-agent - Required for proportional vertical cluster autoscaler to adjust castai-agent requests/limits.
  # ---
  - apiGroups:
      - "apps"
    resources:
      - deployments
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - delete
