---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - castware.cast.ai.cast.ai
  resources:
  - clusters
  - components
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - castware.cast.ai.cast.ai
  resources:
  - clusters/finalizers
  - components/finalizers
  verbs:
  - update
- apiGroups:
  - castware.cast.ai.cast.ai
  resources:
  - clusters/status
  - components/status
  verbs:
  - get
  - patch
  - update
