---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - castware.cast.ai
  resources:
  - castwares
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - castware.cast.ai
  resources:
  - castwares/finalizers
  verbs:
  - update
- apiGroups:
  - castware.cast.ai
  resources:
  - castwares/status
  verbs:
  - get
  - patch
  - update
