---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: components.castware.cast.ai
spec:
  group: castware.cast.ai
  names:
    kind: Component
    listKind: ComponentList
    plural: components
    singular: component
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Component is the Schema for the components API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ComponentSpec defines the desired state of Component
            properties:
              cluster:
                default: castai
                description: Cluster is the name of the cluster CRD containing global
                  parameters for this component.
                type: string
              component:
                default: castai-agent
                description: Component is the name of the component represented in
                  this CRD.
                type: string
              enabled:
                description: Enabled is set to false if this component should be scaled
                  to zero replicas.
                type: boolean
              values:
                description: |-
                  Values is a free-form map of Helm values (exactly like a values.yaml block).
                  The operator will pass these to `helm install/upgrade --values`.
                x-kubernetes-preserve-unknown-fields: true
              version:
                description: |-
                  Version is the the version of the helm chart that should be installed, if not specified
                  the latest version will be installed and the value will be filled by the operator.
                type: string
            required:
            - cluster
            - component
            - enabled
            type: object
          status:
            description: ComponentStatus defines the observed state of Component
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
