name: golangci-lint
on:
  pull_request:
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: 1.25.4
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.0.0
        with:
          args: --timeout=10m
